header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    height: 30px;
    width: 30px;
}

.logo-container h2 {
    color: #1D2530;
}

.ul-navlist {
    display: flex;
}

.ul-navlist li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.ul-navlist a {
    text-decoration: none;
    margin: 10px;
}
